/*
.close-btn:hover{
    transform: rotate(360deg);
}
.close-btn{
    transition: transform .9s ease-in-out;
}*/
.close-btn:active,.close-btn:focus{
    border: none;
    outline:  none;
}
#example{
    background: white;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #4b5258 !important;
}
.select2-container .select2-selection--single {
    padding-top: 4px;
    height: 35px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-top: 2px !important;
}
.select2-container--default .select2-selection--single,.select2-container--default .select2-selection--multiple{
    border: 1px solid #ced4da !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    color: #495867;
}

.loading-component{
    display: none;
}
.spinner-border{
    font-size: 5px;
}
#overlay{
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.9);
    transition: 1s 0.4s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    display: none;
}
        