/*
.close-btn:hover{
    transform: rotate(360deg);
}
.close-btn{
    transition: transform .9s ease-in-out;
}*/
.close-btn:active,.close-btn:focus{
    border: none;
    outline:  none;
}
#example{
    background: white;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #4b5258 !important;
}
.select2-container .select2-selection--single {
    padding-top: 4px;
    height: 35px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-top: 2px !important;
}
.select2-container--default .select2-selection--single,.select2-container--default .select2-selection--multiple{
    border: 1px solid #ced4da !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    color: #495867;
}

.loading-component{
    display: none;
}
.spinner-border{
    font-size: 5px;
}